.search-wrapper {
    position: relative;
    min-width: 300px;
    background-color: var(--card-background-2);
    border: 1px solid var(--border-color);
    border-radius: calc(var(--main-radius) / 2);
    margin: 0 auto;

    .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--title-color);
    }

    .search {
        outline: none;
        background: none;
        border: none;
        width: 100%;
        padding: 14px 15px 14px 40px;
        font-size: 14px;
        font-weight: 500;
        color: var(--sub-title-color);
    
        &::placeholder {
            font-size: 12px;
            font-weight: 400;
            color: var(--title-color);
        }
    }
}
