.title {
    font-size: 25px;
    font-weight: 800;
    color: var(--title-color);
    margin: 0;
    margin-bottom: 7px;
}

.text {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 28px;
    margin-bottom: 15px;
}