.title {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    color: var(--title-color);
}

.list {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px 25px;
    margin: 0 0 50px 0;
    padding: 0;
}