.info {
  position: relative;
  flex: 1;
  border-radius: var(--main-radius);
  border: 1px solid var(--light-color);
  overflow: hidden;

  &:before {
      content: "";
      position: absolute;
      top: -255px;
      left: -100px;
      transform: rotate(-10deg);
      width: 220%;
      height: 120%;
      border-radius: var(--main-radius);
      background-color: var(--profile-before-background);
  }

  .edit {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    color: var(--edit-color);
    z-index: 2;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 15px;
  }

  .image {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .title {
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 16px;
    color: var(--title-color);
  }

  .text {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: var(--text-color);
  }

  .list {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    margin-top: 15px;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      text-align: left;
    }

    &-title {
      min-width: 100px;
      font-weight: 350;
      font-size: 12px;
      color: var(--text-color);
    }

    &-text {
      font-weight: 800;
      font-size: 14px;
      color: var(--title-color);
    }
  }
}
