.playlist-add {
    margin-top: 30px;
}

.form {
    margin-top: 20px;

    .avatar {
        margin-bottom: 10px;

        label {
            cursor: pointer;
        }

        .label {
            display: inline-block;
            min-width: 150px;
            font-size: 14px;
            color: var(--title-color);

            &.has-error {
                color: var(--error-color);
            }
        }

        .error {
            margin-top: 5px;
            display: block;
            font-size: 12px;
            color: var(--error-color);
        }
    }

    .img {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        box-shadow: 0 0 8px var(--card-shadow);

        img {
            border-radius: 50%;
        }
    }

    .action {
        text-align: right;
    }
}