@font-face {
    font-family: "icomoon";
    src: url("/fonticon/icomoon.eot?yks4a3");
    src: url("/fonticon/icomoon.eot?yks4a3#iefix")
        format("embedded-opentype"),
      url("/fonticon/icomoon.ttf?yks4a3") format("truetype"),
      url("/fonticon/icomoon.woff?yks4a3") format("woff"),
      url("/fonticon/icomoon.svg?yks4a3#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e93a";
}
.icon-minus:before {
    content: "\e93c";
}
.icon-plus:before {
    content: "\e93b";
}
.icon-trash:before {
    content: "\e939";
}
.icon-logout:before {
    content: "\e938";
}
.icon-recent:before {
    content: "\e934";
}
.icon-search:before {
    content: "\e935";
}
.icon-user:before {
    content: "\e936";
}
.icon-lock:before {
    content: "\e937";
}
.icon-pause-fill:before {
    content: "\e910";
}
.icon-heart:before {
    content: "\e900";
}
.icon-heart-fill:before {
    content: "\e901";
}
.icon-moon:before {
    content: "\e902";
}
.icon-more:before {
    content: "\e903";
}
.icon-music-note-fill:before {
    content: "\e904";
}
.icon-next:before {
    content: "\e905";
}
.icon-next-fill:before {
    content: "\e906";
}
.icon-pause:before {
    content: "\e907";
}
.icon-play:before {
    content: "\e908";
}
.icon-player:before {
    content: "\e909";
}
.icon-player-button-fill:before {
    content: "\e90a";
}
.icon-play-fill:before {
    content: "\e90b";
}
.icon-playlist:before {
    content: "\e90c";
}
.icon-playlist-fill:before {
    content: "\e90d";
}
.icon-previous:before {
    content: "\e90e";
}
.icon-previous-fill:before {
    content: "\e90f";
}
.icon-repeat:before {
    content: "\e911";
}
.icon-repeat-once:before {
    content: "\e912";
}
.icon-setting:before {
    content: "\e913";
}
.icon-setting-2:before {
    content: "\e914";
}
.icon-setting-fill:before {
    content: "\e915";
}
.icon-shuffle-arrows:before {
    content: "\e916";
}
.icon-sun:before {
    content: "\e917";
}
.icon-voice:before {
    content: "\e918";
}
.icon-volume:before {
    content: "\e919";
}
.icon-volume-1-fill:before {
    content: "\e91a";
}
.icon-volume-fill:before {
    content: "\e91b";
}
.icon-volume-line:before {
    content: "\e91c";
}
.icon-volume-line-fill:before {
    content: "\e91d";
}
.icon-volume-max:before {
    content: "\e91e";
}
.icon-volume-max-fill:before {
    content: "\e91f";
}
.icon-volume-minus:before {
    content: "\e920";
}
.icon-volume-minus-fill:before {
    content: "\e921";
}
.icon-volume-mute:before {
    content: "\e922";
}
.icon-volume-mute-fill:before {
    content: "\e923";
}
.icon-volume-plus:before {
    content: "\e924";
}
.icon-volume-plus-fill:before {
    content: "\e925";
}
.icon-adjuster:before {
    content: "\e926";
}
.icon-adjuster-2:before {
    content: "\e927";
}
.icon-adjuster-2-fill:before {
    content: "\e928";
}
.icon-adjuster-3-fill:before {
    content: "\e929";
}
.icon-adjuster-4-fill:before {
    content: "\e92a";
}
.icon-adjuster-fill:before {
    content: "\e92b";
}
.icon-backward-fill:before {
    content: "\e92c";
}
.icon-backwrad:before {
    content: "\e92d";
}
.icon-camera:before {
    content: "\e92e";
}
.icon-category:before {
    content: "\e92f";
}
.icon-category-2:before {
    content: "\e930";
}
.icon-category-2-fill:before {
    content: "\e931";
}
.icon-forward:before {
    content: "\e932";
}
.icon-forward-fill:before {
    content: "\e933";
}