@mixin ellipsis($width: 100%, $height: 50px, $manyColumn: 'no', $column: 0) {
    @if ($manyColumn == "no") {
      width: $width;
      height: $height;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }@else {
      width: $width;
      height: $height;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      -webkit-line-clamp: $column;
      -webkit-box-orient: vertical;
    }
}

@mixin lineText($clamp) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $clamp;
}