.wrapper {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 17px;
    background-color: var(--card-background-2);
    color: var(--title-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
}